<!--All pages in this site will have this HTML code. Good for nav bars and main heading for all pages-->

<!DOCTYPE html>
<html>
<head>
  <title>SimplecodecastsSaas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class = "navbar navbar-default navbar-static-top" role="navigation">   <!--nav is a special div tag in HTML-->
  <div class = 'container'>
    <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#main-nav-collapse">
        <span class = "sr-only">Toggle Navigation</span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <%= link_to 'SaaS', root_path, class: 'navbar-brand' %> <!--ruby code (erb file- allows embedded ruby in HTML)-->
      <!--Equivalent would be <a class ="navbar-brand" href"/">Saas</a>   look at inspect element to see HTML-->
    </div>
    
    <div class = "collapse navbar-collapse" id = "main-nav-collapse">
      <ul class = "nav navbar-nav navbar-right">
        <li> <%= link_to "About", about_path %></li>  <!-- about path comes from the routes.rb type rake routes to see all _paths-->
      </ul>
    </div>
  </div>
</nav>



<%= yield %>

</body>
</html>
