<!--All pages in this site will have this HTML code. Good for nav bars and main heading for all pages-->

<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class = "navbar navbar-inverse navbar-static-top" role="navigation">   <!--nav is a special div tag in HTML-->
  <div class = 'container'>
    <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#main-nav-collapse">
        <span class = "sr-only">Toggle Navigation</span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      
      <!-- %= link_to root_path, class: 'navbar-brand' do %>
      <!--  <i class = "fa fa-users"></i>Dev Match-->
      <!--% end %>-->
      
      <a class = "navbar-brand" href = "/">
        <i class = "fa fa-users"></i>Dev Match
      </a>
      
      <!--<i class = "fa fa-users navbar-brand"></i>  <!-- used just for font awesome -->
      <!--# link_to 'Dev Match', root_path, class: 'navbar-brand'  <!--ruby code (erb file- allows embedded ruby in HTML)-->
      <!--Equivalent would be <a class ="navbar-brand" href"/">Dev Match</a>   look at inspect element to see HTML-->
      
    </div>
    
    <div class = "collapse navbar-collapse" id = "main-nav-collapse">
      <div class = "nav navbar-nav navbar-right">
        <% if current_user %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success navbar-btn', method: :get %>
        <% end %>
      </div>
      <ul class = "nav navbar-nav navbar-right">
        <li> <%= link_to "About", about_path %></li>  <!-- about path comes from the routes.rb type rake routes to see all _paths-->
        <li> <%= link_to "Contact Us", new_contact_path %></li>
      </ul>
    </div>
  </div>
</nav>


<div class= "container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  
  <%= yield %>  <!-- Outputs whatever shows up that should show up -->
</div>



</body>
</html>
